[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[dev-packages]


[packages]
flask-mail = "*"
sendgrid = "==5.3.0"
flask-migrate = "*"
flask-caching = "*"
flask-assets = "*"
flask-debugtoolbar = "*"
cssmin = "*"
jsmin = "*"
redis = "*"
flask-dropzone = "*"
flask-wtf = "*"
flask = "*"
six = "*"
watchdog = "*"
bleach = "*"
flask-ckeditor = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"

